{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
	<div class="col-md-4">
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	{{ wtf.quick_form(form) }}
	</div>
	{% endif %}
	<ul class="posts">
	    {% for entry in entries %}
	    <li class="post">
	        <div class="post-thumbnail">
	            <a href="{{ url_for('.user', username=entry.author.name) }}">
			    IMG
	            </a>
	        </div>
	        <div class="post-content">
	            <div class="post-date">{{ moment(entry.timestamp).fromNow() }}</div>
	            <div class="post-author"><a href="{{ url_for('.user', username=entry.author.name) }}">{{ entry.author.name }}</a></div>
		    {% if entry.body_html %}
	            <div class="post-body">{{ entry.body_html|safe }}</div>
		    {% else %}
	            <div class="post-body">{{ entry.body }}</div>
		    {% endif %}
	            <div>
			<a href="{{ url_for('compose', id=entry.id) }}">
			<span>Get in</span></a>
	            </div>
	        </div>
	    </li>
	    {% endfor %}
	</ul>
{% endblock %}
